* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header {
    height: 10vh;
    background-color: #ffffff;
    display: flex;
    align-items: center;
}

h1 {
    color: #705C53;
    padding-left: 50px;
    cursor: default;
}

h1:hover {
    color: red;
}

.content {
    background-color: #F5F5F7;
    display: flex;
    flex-direction: column;
    height: 85vh;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#gridSizeButton {
    border: 2px solid rgb(255, 255, 255);
    background-color: #705C53;
    padding: 13px 25px; 
    font-size: 16px;
    border-radius: 10px;
    color: white;
}

#gridSizeButton:hover {
    border: 2px solid #705C53;
    background-color: #F5F5F7;
    color: black;
    cursor: pointer;
}

#container {
    background-color: #705C53;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 600px;
    height: 600px;
}

.row {
    flex: auto;
    border: 1px solid #705C53;
    background-color: #ffffff;
}

#rowColor {
    background-color: #705C53;
}

footer {
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#github-logo {
    width: 15px;
}

#github-link {
    font-size: 15px;
    color: black;
    text-decoration: none;
}

a:hover {
    opacity: 90%;
}