* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.content {
    background-color: #F5F5F7;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#gridSizeButton {
    border: 2px solid #705C53;
    background-color: #F5F5F7;
    padding: 5px 10px; 
}

#gridSizeButton:hover {
    border: 2px solid black;
    background-color: #705C53;
    color: white;
}

#container {
    background-color: #705C53;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 800px;
    height: 800px;
}

.row {
    flex: auto;
    border: 1px solid #705C53;
    background-color: #F5F5F7;
}

#rowColor {
    background-color: #705C53;
}
